.hamburger {
  width: 40px;
  height: 40px;
  @include flex-align-center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  margin-left: 20px;
  position: relative;
  z-index: 5;
  display: none;

  &-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    display: block;
    top: 50%;
  }

  &-inner,
  &-inner::before,
  &-inner::after {
    height: 2px;
    background-color: var(--text-color-white);
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &-inner,
  &-box,
  &-inner::before,
  &-inner::after {
    width: 30px;
  }

  &-inner::before,
  &-inner::after {
    content: "";
    display: block;
  }

  &-inner::before {
    top: -10.2px;
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }

  &-inner::after {
    bottom: -10.2px;
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.hamburger.active {
  .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }

  .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@media screen and (max-width: 835px) {
  .hamburger {
    display: block;
  }
}