.steps {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 80px 0;

  &__img {
    width: 100px;
    height: 100px;
    background: var( --bg-btn-blue);
    border: 5px solid #286690;
    border-radius: 50%;
    @include flex-center;
    position: relative;
    margin-bottom: 20px;

    &::before {
      content: '';
      width: 140%;
      display: block;
      position: absolute;
      top: 50%;
      right: -215%;
      transform: translate(-50%);
      height: 6px;
      background-image: url('/pictures/svg/dots.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 193px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item:last-child {
    .steps__img::before {
      content: none;
    }
  }

  &__icon {
    width: 55px;
    height: 55px;
    fill: var(--bg-btn-white);
  }
}

@media screen and (max-width: 1024px) {
  .steps {
    margin: 50px 0;
    flex-wrap: wrap;
    gap: 30px;

    &__img {
      &::before {
        content: none;
      }
    }
  }
}

@media screen and (max-width: 442px) {
  .steps {
    &__title {
      max-width: 100%;
    }
  }
}